body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    margin-bottom: 20px;
}

#titolo {
    font-size: 50px;
    margin: 5px
}

main {
    padding: 30px;
    border: solid 0.1px black;
}
